 .product-card {
    display: inline-block;
    margin-top: 10px;
    box-shadow: -2px 5px 12px -4px rgba(51,17,3,0.52);
    margin-left: 50px;
  }
 
  .product-button {
    margin-left: 10px;
    width: 30%;
    margin-top: 1rem;
  }
  .product-button2 {
    margin-left: 10px;
    margin-top: 10px;
  }
  .App2 {
    margin: 20px 20px;
  }
  .modal {
    background-color: rgba(253, 255, 251, 0.192);
  } 
  .blocks{
    margin-top: 6%;
    margin-left: 47%;
  }
  .navLink-product {
    text-decoration: none;
    color: rgb(243, 44, 0);
  }
  .navLink-product:hover {
    color: rgb(66, 0, 0);
  }
  