.contact-heading {
  margin-left: 140px;
}
.contact-container {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  margin-bottom: 1em;
  text-align: left;
  width: 500px;
  margin-top: 50px;
  box-shadow: -2px 5px 12px -4px rgba(51,17,3,0.52);

}
.contact-form {
  padding-top: 1em;
}
.card-form {
  margin: 20px 30px;
}
.sigin-btn {
  background-color: rgb(98, 55, 44);
  margin-left: 100px;
}
