.back-color-of-detailPage{
    background-color: rgb(178, 165, 165);
    height: 350px;
    margin-top: -103px;
    padding: 50px 40px;
}
.detail-page-img {
    width: 80%;
    height: 350px;
    margin-left: 30%;
  }