
body {
  overflow-x: hidden;
}
.home-img {
  padding-right: 10px;
  width: 80%;
  height: 350px;
  margin-bottom: 1em;
  margin-left: 90px;
}

  .zoom {
    transition: transform .1s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

.header1 {
  margin-top: 70px;
  font-family: "Roboto", sans-serif;
  color: rgb(31, 14, 4);
}
.header1 h1{
  width: 100%;
  font-size: 600%;
}
.button-home {
  background-color: rgb(194, 98, 74);
}
.home-container {
  margin-right: 10px;
}
.navLink {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.navLink:hover {
  color: black;
}
